*{
    background-color: bisque;
}
h1{
    text-align: center;
    color: rgb(248, 66, 0);
}
img{
    display: block;
    margin: 0 auto;
    
   
}
p{
    text-align: center;
    font-size: 30px;
    color: rgb(151, 63, 0);
}
h2{
    text-align: center;
    color: rgb(231, 132, 85);
}
h3{
    text-align: center;
    color: rgb(117, 44, 10);
}